name: pytest
run-name: ${{ github.actor }} is running Python tests

on: [push]

jobs:
  run-python-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
      - run: pip install -r requirements.txt

      - name: Test with pytest
      - run: pip install pytest
